/node_modules
/public/hot
/public/storage
/public/js
/public/bootstrap-4.3.1
/public/Font-Awesome-master
/public/css
/storage/*.key
/resources
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
